<div class="footer">
  <div class="footer_contents">
    <div class="footerleft column">
      <p>Clock+</p>
      <p>Email: s3656432@student.rmit.edu.au</p>
      <p>Student Number: s3656432</p>
      <p>Attempt Grade Level: 80+</p>
    </div>    
    <div class="footerright column">
      <a href="https://facebook.com/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/" class="fa fa-twitter"></a>
      <a href="https://linkedin.com/" class="fa fa-linkedin"></a>
    </div>
  </div>
</div>